body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFDD0;
}

.btn-primary {
  background-color: #000080;
  border-color: #000080;
}

.btn-primary:hover {
    color: #000080;
    background-color: #FFFDD0;
    border-color: #000080;
}
.btn-outline-primary {
    color: #000080;
    border-color: #000080;
}


.btn-outline-primary:hover {
    color: #fff;
    background-color: #000080;
    border-color: #000080;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
